<div class="jumbotron">
    <div class="container text-center">
        <h1>Online Review Site</h1>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
                <app-header></app-header>

        </div>
    </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
<br><br>
<app-error></app-error>
<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <app-google-maps></app-google-maps>
</footer>




